<!-- include header -->
<%- include('partials/header', {title: 'Pizza', page: 'index'}) %>

<div class="container">
  <h1>Hello World!</h1>
  <h3>Let's get some pizza</h3>
</div>

<!-- include footer -->
<%- include('partials/footer') %>