<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza Order</title>
</head>

<body>
    <% if (user) { %>
        <p>Welcome <%= user.username %> to our Pizza order List</p>
        <p>Below is a list of all available order</p>
        <ul>
            <% orders.forEach(function(order) { %>

                <% order.items.forEach(function(order) { %>
                    <li>
                
                        <%= order.name %>
                    </li>
                    <% }); %>
                <% }); %>
        </ul>
        <br />
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>

        <% } else { %>
            <p>Please <a href="/login">login</a> to view the Pizza order List</p>
            <% } %>
</body>

</html>