<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        <label for="name">Name</label>
        <input name="name" placeholder="Name" type="text"/>
        <label for="username">Email</label>
        <input name="username" type="Email"/>
        <label for="address">Address</label>
        <input name="address" type="text"/>
        <label for="phonum">Phone Number</label>
        <input name="phonum" type="tel"/>
        <label for="password">Password</label>
        <input name="password" type="password"/>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>