<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/signup" method="post">
      <div>
        <label for="name">Enter your Name</label>
        <input type="text" placeholder="Full name" id="name" name="username" />
      </div>
      <div>
        <label for="email">Enter your email</label>
        <input
          type="email"
          placeholder="e.g example@yahoo.com"
          id="email"
          name="email"
        />
      </div>
      <div>
        <label for="password">Enter your password</label>
        <input type="password" id="password" name="password" />
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>